/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand1: #819b57;
  --color-brand2: #465929;
  --color-primary-darck: #31261a;
  --color-primary-ligt: #faf4ea;
  --color-chefs-deckor: #cfcfbc;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----BASE-STYLE */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  background-color: var(--color-primary-ligt);
  margin: 0;
  color: var(--color-primary-darck);
  font-size: 18px;
  font-family: "Poppsns", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
a {
  display: inline-block;
}
/* BASE-STYLE */

/* ----HEDER-------- */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-meny {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* -----BUTTON-------- */
.button {
  padding: 16px 32px;
  color: var(--color-primary-ligt);
  background-color: var(--color-brand1);
  border: 2px, solid, var(--color-brand1);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: var(--color-brand1);
  background-color: transparent;
}
/* -----BUTTON-------- */
/* -------LINK-------- */
.link {
  color: var(--color-primary-ligt);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand1);
}
/* -------LINK-------- */

/* -----HERO-SECTION----- */
.hero-section {
  padding: 272px 0;
  background-image: url(/img/hero-fon.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-ligt);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand1);
}

/* -----HERO-SECTION----- */
/* ----SECTION--------- */

.section {
  padding: 48px 0;
}

/* ----ADVANT-LIST----- */
.advend-section {
  color: var(--color-primary-ligt);
  background-color: var(--color-brand1);
}

.advantagest-list {
  padding: 8px 40px;
  display: flex;
  background-color: var(--color-brand1);
  gap: 40px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
}
/* ----ADVANT-LIST----- */
/* ----SECTION-TITLE */
.section-title {
  font-size: 64px;
  font-weight: 600;
}

.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand2);
}
/* -----SeCTION-TITLE */
/* -----Trad-section------- */
.tradition-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.tradition-content {
  max-width: 710px;
}
.traditions {
  padding-top: 96px;
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-text span {
  text-transform: uppercase;
  color: var(--color-brand1);
  font-weight: 600;
}
.p2 span {
  color: var(--color-brand1);
  font-weight: 600;
}
.lim {
  max-width: 335px;
}
.baton-man {
  border-radius: 45% 45% 0 0;
}

/* -----Trad-section------- */
/* ----CHEFS-TiTLE----- */
.chef-title {
  position: relative;
  margin: 0 auto 80px;
}
.chef-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-chefs-deckor);
  content: "";
  position: absolute;
  bottom: 24px;
  left: 0;
}
.chef-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-chefs-deckor);
  content: "";
  position: absolute;
  bottom: 24px;
  right: 0;
}

.chefs-foto {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0 0 var(--color-primary-ligt),
    -16px 16px 0 2px var(--color-chefs-deckor);
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-card {
  display: flex;
  gap: 30px;
}
.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
/* ----CHEFS-TiTLE----- */

/* ----FORMATS-TITLe */
.format-list {
  display: flex;
  gap: 20px;
}
.format-card {
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border: 1px solid var(--color-primary-darck);
  border-radius: 16px;
  width: 349px;
  height: 444px;
  padding: 24px;
}

.format-title {
  margin-bottom: 80px;
}
.formats-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-container {
  display: flex;
  gap: 33px;
  align-items: center;
}
/* ----FORMATS-TITLe */

.contakt-title {
  margin-bottom: 16px;
}

.format-strilka {
  fill: var(--color-brand2);
}
.carusel {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-brand2);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.carusel:hover {
  background-color: var(--color-primary-darck);
}

.carusel:hover .format-strilka {
  fill: var(--color-primary-ligt);
}
/* -----contact-section---- */

.contact-section {
  padding-bottom: 96px;
}
.contakt-caontainer {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* -----FOOTER------ */

.footer-container {
  display: flex;
}

.footer-nav {
  flex-basis: 50%;
  display: flex;
}
.footer-address {
  flex-basis: 50%;
  display: flex;
}

.footer {
  position: relative;
  padding: 32px 0;
  background-image: url(/img/footer-fon.jpg);
  background-color: var(--color-primary-darck);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before {
  position: absolute;
  background-image: url(/img/hlib-footer-1.png);
  content: "";
  width: 180px;
  height: 120px;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::after {
  position: absolute;
  background-image: url(/img/hlib-footer-2.png);
  content: "";
  width: 380px;
  height: 190px;
  bottom: 0;
  right: 0;
}

.footer-logo {
  flex-grow: 1;
}

.footer-meny {
  flex-grow: 1;
}
.addres-list {
  flex-grow: 1;
}
.address-info {
  flex-grow: 1;
}

.adress {
  color: var(--color-primary-ligt);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.adres-icon {
  fill: var(--color-primary-ligt);
}

.adres-icon:hover {
  fill: var(--color-brand1);
}

.danni {
  font-size: 14px;
  font-weight: 400;
  color: #a18268;
}

.icon-container {
  display: flex;
  gap: 10px;
  padding-top: 5px;
}

/* ----MONDAL--- */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--color-primary-ligt);

  border-radius: 32px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
